@font-face {
  font-family: FontReg;
  src: url(./../assets/fonts/NotoSansJP-Regular.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(./../assets/fonts/NotoSansJP-Bold.ttf);
}

#sidebarWrapper{
  position: relative;

  font-family: FontReg;
  max-width: 150px;
  width: 100%;
  padding-left:15px;
  padding-right:15px;
  margin-left: auto;
}
#sidebarCont{
  width: 100%;
  justify-content: right;
}

#sideOptionHome{
  
}
.contOption{
  display: flex;
  margin-bottom:15px;
  cursor: pointer;
}

.selectedContOption p{
  margin:8px 10px;
}
.unSelectedContOption p{
  margin:8px 10px;
}
#Logout{
  margin-top: 50px;
}
.unSelectedContOption svg{
  margin-top:5px;
  margin-left: 5px;
}

.selectedContOption svg{
  margin-top:8px;
  margin-left: 5px;
}
.unSelectedContOption:hover{
  background: #999;
  transition: background .5s;
}
.selectedOption{
  background: white;
  border-radius: 10px;
  
}
.selectedContOption{
  display: flex;
  margin-bottom:15px;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  border: 1px solid white;
  max-width: 200px;
  width: 100%;
}
.unSelectedContOption{
  display: flex;
  margin-bottom:15px;
  cursor: pointer;
  color:white;
  border-radius: 5px;
  border: 1px solid white;
  max-width: 200px;
  width: 100%;
}
.unselectedOption{
  color: white;
}
.optionBox p{
  font-size: 11px;
}
.optionBox {
  padding-bottom: 3px;
}

@media (width:800px){
  .selectedContainerOption{
    max-width: 100px;
  }
}

@media (max-width:800px){
  #sidebarCont{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: #020419;
    bottom:0;
    justify-content: center;
  }
  #sidebarCont .optionBox{
    max-width: 100px;
    display: block;
    text-align: center;
    margin-left: 5px;;
    margin-right: 5px;;
    margin-top:1px;
    margin-bottom:5px;
  }
  #sidebarCont p{
    margin-bottom: 10px;
  }
  .unSelectedContOption svg{
    margin:0;
  }
  .unSelectedContOption p {
    margin-top:0px;
  }
  .selectedContOption p{
    margin-top:0px;
  }
  .optionBox svg{
    margin-top:10px;
  }
  #sidebarWrapper{
    max-width: 100%;
    padding: 0;
  }
  
}