@font-face {
  font-family: FontReg;
  src: url(./../assets/fonts/NotoSansJP-Regular.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(./../assets/fonts/NotoSansJP-Bold.ttf);
}
/* 020419 */
.signInModal{
  font-family: FontReg;
  padding:15px;
  position: absolute;
  width:350px;
  text-align: center;
  top:20%;
  border-radius: 10px;
  background-color: #020419;
  display: block;
  padding-bottom: 50px;
  border: 1px solid white;
}
.signInModal .title{
  text-align: center;
}
.signInModal input{
  margin:0 auto;
}
.signInModal button{
  display: block;
  margin:0 auto;
  margin-top:30px;
  
}
.title{
  padding-top:30px;
  padding-bottom:10px;
  font-size: 20px;;
  font-weight: bold;
  color: white;
}
.label{
  margin-top:15px;
  margin-bottom: 5px;;
  color: white;
}
.signInModal button{
  cursor: pointer;
  border-radius: 20px;
  margin: 0 auto;
  background:#020419;
  padding:8px 20px;
  border: none;
  margin-bottom:20px;
  margin-top:10px;
  font-weight: bold;
  color: white;
  margin-top:25px;
  border: 1px solid white;
}
input{
  padding:6px 10px;
  border-radius: 5px;
  border: 1px solid #222;
  box-shadow: inset 0px;
}

.cancel{
  margin-top:5px;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
@media (max-width:800px){
  .signInModal{
    height: 100%;
    top: 0;
  }
}