@font-face {
  font-family: FontReg;
  src: url(./assets/fonts/NotoSansJP-Regular.ttf);
}

@font-face {
  font-family: FontBold;
  src: url(./assets/fonts/NotoSansJP-Bold.ttf);
}
#root{
  height:100%;
}
#notificationBar{
  height: 0;;
}
body {
  width: 100%;
  margin: 0;
  background-color: #020419;
  /* position: absolute; */
  /* height: 100%; */
  min-height: 100vh;
  top: 0;
  bottom: 0;
}
.appWrapper{
  font-family: FontReg;
  background: #020419;
  width: 100%;
  height: -webkit-fill-available;
  max-height: max-content;
  position: relative;
}

.appCont{
  width: 100%;
  max-width: 1400px;;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#signUpSuccess{
  color: white;
}
#welcomeMessage{
  text-align: center;
  color: white;
  margin-bottom: 10px;;
}

#mobileSidebar{
  display: none;
}
#desktopSidebar{
  display: block;
  font-family: FontReg;
  max-width: 150px;
  width: 100%;
  padding-left:15px;
  padding-right:15px;
  margin-left: auto;
}
#desktopInfobar{
  display: block;
  font-family: FontReg;
  max-width: 150px;
  width: 100%;
  padding-left:15px;
  padding-right:15px;
  margin-right: auto;
}

@media(max-width:800px){
  #mobileSidebar{
    display: block;
  }
  #desktopSidebar{
    display: none;
  }
  #desktopInfobar{
    display: none;
  }
  .appWrapper h2{
    padding-top: 10px;;
  }
}